:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --header-studio: #000000;
  --footer-background: #2f303a;
  --clear-white: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --logo2-footer: rgba(255, 255, 255, 1);
  --button-sorting: #f5f4fa;
  --button-focus: #188ce8;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --portfolio-card-border: #eeeeee;
  --header-border: #ececec;
  --hero-background: #c4c4c4;
  --team-icon: #afb1b8;
  --link-transparency: #ffffff1a;
  --backdrop: rgba(0, 0, 0, 0.2);
  --overlay: rgba(33, 150, 243, 0.9);
  --item-description: rgba(255, 255, 255, 1);
  --form-text-color: rgba(117, 117, 117, 1);
  --modal-form-head: rgba(33, 33, 33, 1);
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

ul p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list--current.link,
.menu-list--inactive.link,
.contact.link,
.contact-footer.link,
.portfolio-link {
  text-decoration: none;
}

.menu-list--current.link {
  text-decoration: none;
}

.menu-list--inactive.link {
  text-decoration: none;
}

.contact.link {
  text-decoration: none;
}

.contact-footer.link {
  text-decoration: none;
}

.portfolio-link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.contact {
  color: var(--main-text-color);
  font-weight: 500;
  display: flex;
  text-align: center;
  line-height: 1.14;
  transition: color 250ms var(--transition-cubic);
}

.contact:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-body {
  display: flex;
  margin-left: auto;
}

.contact-body__item:not(:last-child) {
  margin-right: 30px;
}

.logo-body {
  font-family: "Raleway", "Sans-serif";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
  color: var(--accent-color);
}

.logo-body__header {
  color: var(--header-studio);
}

.menu-list--current {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}

.menu-list--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-radius: 2px;
}

.menu-list--inactive {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms var(--transition-cubic);
}

.menu-list--inactive:hover {
  color: var(--accent-color);
}

.menu-list--inactive:focus {
  color: var(--accent-color);
}

.nav-body {
  display: flex;
  align-items: center;
}

.nav-body__menu {
  display: flex;
  flex-direction: row;
}

.menu-list:not(:last-child) {
  margin-right: 50px;
}

.header-site {
  background-color: var(--clear-white);
  border-bottom: 1px solid var(--header-border);
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-body__heading {
  color: var(--clear-white);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-body {
  width: 770px;
}

.hero-body__button {
  cursor: pointer;
  background: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--clear-white);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--box-shadow);
  min-width: 200px;
  border: none;
  transition: background 250ms var(--transition-cubic);
}

.hero-body__button:focus {
  background: var(--button-focus);
}

.hero-body__button:hover {
  background: var(--button-focus);
}
/*# sourceMappingURL=main.css.map */